<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d8a6d054-fdcb-41ac-93e6-503249e69637/resourceGroups/ResGrp_AspDataDrive/providers/Microsoft.Web/sites/DataDrivenASP</ResourceId>
    <ResourceGroup>ResGrp_AspDataDrive</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://datadrivenasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>datadrivenasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DataDrivenASP</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DataDrivenASP</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>